{% extends 'menubar.html' %}

{% block title %} Home {% endblock %}

{% block content %}




          <div class="ml-16">
            
            <h2 class=" pt-32 text-sm tracking-tight font-bold text-gray-900 sm:text-3xl md:text-4xl">
                About us
            </h2>

            <p class="mt-10">
                Welcome to Wewin Decorations! We're here to make your spaces beautiful.
                Our team loves transforming places into amazing settings that reflect your style.</p>   

                <h2 class=" pt-16 text-sm tracking-tight font-semibold text-gray-900  md:text-3xl">
                    Our Goal
                </h2>
    
                <p class="mt-10">
                    At Wewin Decorations, we're on a mission to make decorating easy and fun.
                     We want to create spaces that make you say "Wow!" every time you walk in.</p> 


          </div>
              
{% endblock %}