{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% tailwind_css %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="bg-gray-100">
    <main class=" min-h-screen w-full bg-gray-100 text-gray-700" x-data="layout">
        <!-- header page -->
        <header class="flex w-full items-center justify-between border-b-2 border-gray-200 bg-white p-2">
            <!-- logo -->
            <div class="flex items-center space-x-2">
                <button type="button" class="text-3xl"></i></button>
                <div>Logo</div>
            </div>


            <div class="group">

                {{ user.username }}
            </div>




            </div>
            </div>
        </header>

        <div class="flex">
            <!-- aside -->
            <aside class=" flex w-72 flex-col space-y-2 border-r-2 border-gray-200 bg-white p-2" style="height: 90.5vh"
                x-show="asideOpen">
                <a href="#"
                    class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
                    Dashboard
                </a>


                <a href="{% url 'admin_gallery_management' %}"
                    class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
                    Gallery Management
                </a>

                <a href="{% url 'admin_category_management' %}"
                class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
                Category Management
                </a>

                <a href="{% url 'admin_decoration_management' %}"
                class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
                Decoration Management
            </a>

            <a href="{% url 'admin_order_management' %}"
                class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
                Order Management
            </a>

            <a href="{% url 'contactus' %}"
                class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
                Contact form
            </a>

            <a href="{% url 'reset_tables' %}"
                class="flex items-center space-x-1 rounded-md px-2 py-3 hover:bg-gray-100 hover:text-blue-600">
                Reset Database
            </a>


            </aside>

            <!-- main content page -->
            <div class="w-full ">

                {% block content %}
                {% endblock %}

            </div>
        </div>
    </main>




</body>

</html>